<!DOCTYPE html>
<html>

  <head>
    <meta charset=utf-8 />
    <title>데칼코마니</title>
    <link rel=stylesheet href="../static/drawing.css"></link>
  </head>

  <body>
  	<div id = "MainTitle">
  		나만의 <Mark>느낌있는</Mark> 브로치를 만들자.<br>
  		그리고, 그리고, 또 그리세요.<br>
  		그냥 가져도 되고, 브로치로 가져도 됩니다.<br>
  		<em>ps.아쉽게도 옷에 달고다닐수는 없네요..</em>
  	</div>

  	<div id = "Canvas">
  		그리기 영역
  	</div>

    <div class = "wrap">
    	<section class = "Drawing">
    		  <div id = "BgColor"> 배경색 </div>
    		  <div id = "Prev"> 되돌리기 </div>
    		  <div id = "PenThick"> 두께 </div>
    		  <div id = "PenShape"> 펜모양
    		  <!-- <details> <summary> </summary> 
  	  			<ul>
  	  				<li> 원 </li>
    					<li> 삼각형 </li>
    					<li> 사각형 </li>
    					<li> 별 </li>
    					<li> 하트 </li>
    				</ul></details> -->
          </div>
          <div id = "PenColor"> 색 </div>
      </section>

    	<section class = "EditDraw">
    		<div id = "Symmetry"> 대칭 </div>
    		<div id = "Rotate"> 회전 </div>
    	</section>

    	<section class = "AddName">
    		<div id = "InputName"> 이름넣기 </div>
    		<div id = "Position"> 위치옮기기 </div>
    		<div id = "Style"> 스타일 
    			<!--<details> <summary> </summary>
  				  <ul>
  	  				<li> 폰트1 </li>
    					<li> 폰트2 </li>
    					<li> 폰트3 </li>
    					<li> 폰트4 </li>
    					<li> 폰트5 </li>
    				</ul></details>-->
    		</div>
    	</section>

    	<section class = "Export">
    		<div id = "MakeBrooch"> 브로치 만들기 </div>
    		<div id = "Normal"> 그대로 </div>
    	</section>
    </div>

  </body>

 </html>