<!DOCTYPE html>
<html>

  <head>
    <meta charset=utf-8 />
    <title>그림판</title>
    <link rel=stylesheet href="../static/drawing_simple.css"></link>
  </head>

    <div id = "wrap">
      <header>
        <Mark> DMFM </Mark><br>
    		나만의 느낌있는 브로치를 만들자.<br>
    		그리고, 그리고, '막' 그리세요.<br>
    	</header>

      <article>
        <div id = "bgimage" background = "../image/bgimage_simple.png">
        <section id = "Canvas">
          <image src = "../image/canvas_simple.png">
        </section>
        <section id = "Edit">
          <!--Drawing-->
          <h1>
              <div id = "Prev"> 
                <image src = "../image/prev.png">
              </div>
              <div id = "BgColor">  </div>
              <div id = "PenColor">
                <image src = "../image/pencolor.png">
              </div>
              <div id = "PenThick">
                <image src = "../image/penthick.png">
              </div>
              <div id = "PenShape"> </div>
          </h1>

          <!--Export-->
          <h4>
            <div id = "MakeBrooch">
              <image src = "../image/makebrooch.png">
            </div>
            <div id = "Normal">
              <image src = "../image/normal.png">
            </div>
          </h4>

        </section>
      </div>
      </article>
    </div>

    <footer>
      @KIMJOOHWEE
    </footer>
  </div>
  </body>

 </html>