<!DOCTYPE html>
<html>

  <head>
    <meta charset=utf-8 />
    <title>데칼코마니</title>
    <link rel=stylesheet href="../static/drawing.css"></link>
  </head>

  <body>
    <div id = "wrap">
      <header>
        <Mark> DMFM </Mark><br>
    		나만의 느낌있는 브로치를 만들자.<br>
    		그리고, 그리고, '막' 그리세요.<br>
    	</header>

      <article>
        <section id = "Canvas">
          그리기 영역
        </section>

        <section id = "Edit">

          <!--Drawing-->
          <h1>
              <div id = "Prev"> 되돌리기 </div>
        		  <div id = "BgColor"> 배경색 </div>
              <div id = "PenColor"> 색 </div>
        		  <div id = "PenThick"> 두께 </div>
        		  <div id = "PenShape"> 펜모양</div>
          </h1>

          <!--Special Tools-->
        	<h2>
        		<div id = "Symmetry"> 대칭 </div>
        		<div id = "Rotate"> 회전 </div>
        	</h2>

          <!--Input mark-->
        	<h3>
        		<div id = "InputName"> 이름넣기 </div>
        		<div id = "Position"> 위치옮기기 </div>
        		<div id = "Style"> 스타일 </div>
        	</h3>

          <!--Export-->
        	<h4>
        		<div id = "MakeBrooch"> 브로치 만들기 </div>
        		<div id = "Normal"> 그대로 </div>
        	</h4>

        </section>
      </article>
    </div>

    <footer>
      @KIMJOOHWEE
    </footer>
  </div>
  </body>

 </html>