
#wrap {
	width : 1000px;
}

header {
	width : 1000px;
	margin-bottom : 20px;
	float : left;
	background-color: black;
	background-color:rgba(0, 0, 0, 0.1);
}

article {
	width : 1000px;
	float : left;
	margin-bottom : 20px;
}


#Canvas{
	width: 600px; 
	height: 600px; 
	float : left;
	background-color: gray;
}

#Edit {
	width : 400px;
	height : 600px;
	float : left;
}

h1 {
	height : 200px;
	background-color: red;
	margin : 0 0 0 0;
}

h1 #BgColor {
	width : 300px;
	height : 50px;
	float : left;
	background-color:rgba(0, 0, 0, 0.2);
}

h1 #Prev {
	width : 100px;
	height : 50px;
	float : left;
	background-color:rgba(0, 0, 0, 0.4);
}

h1 #PenThick {
	width : 70px;
	height : 150px;
	float : left;
	background-color:rgba(0, 0, 0, 0.6);
}

h1 #PenShape {
	width : 130px;
	height : 150px;
	float : left;
	background-color:rgba(0, 0, 0, 0.8);
}

h1 #PenColor {
	width : 200px;
	height : 150px;
	float : left;
}

h2 {
	height : 100px;
	background-color: blue;
	margin : 0 0 0 0;
}

h2 #Symmetry {
	width : 170px;
	height : 100px;
	float : left;
	background-color:rgba(0, 0, 0, 0.2);
}

h2 #Rotate {
	width : 230px;
	height : 100px;
	float : left;
	background-color:rgba(0, 0, 0, 0.4);
}

h3 {
	height : 200px;
	background-color: yellow;
	margin : 0 0 0 0;
}

h3 #InputName{
	height : 50px;
	background-color:rgba(0, 0, 0, 0.2);
}

h3 #Position{
	width : 200px;
	height : 150px;
	float : left;
	background-color:rgba(0, 0, 0, 0.4);
}

h3 #Style{
	width : 200px;
	height: 150px;
	float : left;
	background-color:rgba(0, 0, 0, 0.6);
}

h4 {
	height : 100px;
	background-color: green;
	margin : 0 0 0 0;
}

h4 #MakeBrooch {
	width : 320px;
	height : 100px;
	float : left;
	background-color:rgba(0, 0, 0, 0.2);
}

h4 #Normal {
	width : 80px;
	height : 100px;
	float : left;
	background-color:rgba(0, 0, 0, 0.6);
}

footer {
	clear: both;
	width : 1000px;
	background-color: black;
	background-color:rgba(0, 0, 0, 0.1);
}